<h1>CLASS FOR BEST EDUCATION (CFBE)</h1>
<section class="subpage-section shrinked">
 <img src="img/prevs/p_03.jpg" class="img-right">
<p>Empowering high-school youth one special English language class at a time.</p>
 
<p>CFBE is a project funded by a United States Department of State grant and managed by The Kings Foundation, a NGO helping Polish students apply to top universities abroad. CFBE will reach pupils from rural and urban areas of Poland. It is designed to empower high-school youth during English language classes. We achieve it through: </p>
<ul>
<li>providing access to knowledge about higher education programmes, application system in the US,</li>
<li>discussing future opportunities.</li>
</ul>
 
<p>CFBE team specially designed a module that teachers will implement within high-school English language curriculum. Through this they will equip their students with knowledge about higher education opportunities abroad. This should broaden students’ academic prospects and encourage them to rise up to their full potential. </p>

<p>Explore our project website for:</p>
<ul>
<li>further information,</li>
<li>ready-to-use lesson plans,</li>
<li>inspiring video messages to teachers, parents and students,</li>
<li>more about the team behind CFBE.</li>
</section>

