<h1>Class For Best Education – TWOJA PRZYSZŁOŚĆ W DOBRYM STANIE</h1>
<section class="subpage-section shrinked">
 <img src="img/prevs/p_03.jpg" class="img-right">
<p>CFBE jest pionierskim projektem, mającym na celu zainspirowanie polskiej młodzieży do twórczego myślenia o własnej przyszłości i zainteresowanie jej studiowaniem za granicą.</p>
 
<p>Zespół CFBE stworzył specjalny moduł lekcyjny, w ramach którego pokażemy, że jest to możliwe i znacznie łatwiejsze, niż może się wydawać. Dzięki lekcji, która zostanie włączona do programu języka angielskiego, uczniowie dowiedzą się jakie są możliwości rozwoju ich drogi edukacyjnej oraz dlaczego warto studiować w USA i jak to zrobić.</p>

<p>Projekt CFBE skierowany jest do uczniów liceów i gimnazjów z całej Polski (obszarów wiejskich oraz miejskich). Finansowany jest on w całości z grantu Departamentu Stanu USA, a zarządzany przez The Kings Foundation (TKF), organizację pozarządową, która pomaga polskim uczniom w procesie aplikacji na najlepsze uczelnie na świecie.</p>

<p>Jeśli chcesz dowiedzieć się więcej, zajrzyj na stronę internetową naszego projektu, gdzie znajdziesz:</p>
<ul>
  <li>gotowe plany lekcyjne,</li>
  <li>inspirujące video-komunikaty dla nauczycieli, rodziców oraz uczniów</li>
  <li>więcej informacji na temat TKF oraz zespołu stojącego za projektem CFBE.</li>
</ul>

</section>

