<img src="img/tkf-logo-new.png" style="display: block; max-width: 100%; margin: 0 auto; text-align: center">

<p>The Kings Foundation (TKF), the creator and the managing force behind the CFBE project, is a non-profit organization established to help talented youth from Poland in applying to top universities worldwide. </p>

<p>Started in 2013 by the alumni of University of Cambridge and Imperial College London, TKF was specifically designed to provide mentoring and advice in the process of university selection and application procedures, provided by TKF’s growing network of over 150 Ambassadors - current students and alumni of the world’s leading academic programs globally. </p>

<p>TKF believes in sharing best experience. By doing so, the organization actively contributes to building a new generation of Polish leadership, equipping the youth in the opportunity to receive the best education they deserve. In this spirit TKF builds partnerships with other educational institutions, business associations and other non-profit organisations that also believe in bringing the best knowledge mentorship and support to talented youth.</p>

<p>Today, TKF represents a dynamically growing network of over 23 leading universities, such as the Ivy League schools in the USA, 10 of the best universities in Great Britain, as well as leading institutions in France, Switzerland, Germany and Singapore. </p>

<p>Find out more at <a href="http://kings.foundation">Kings.Foundation</a></p>