<ul id="big-navigation">
  <li class="about"><a ui-sref="subpage({id: 'about', lang: 'en'})">
    <img src="img/cfbe-logo-icon.png" class="cfbe-icon">
    <h3>O Projekcie</h3>
    <p>CFBE jest pionierskim projektem, mającym na celu zainspirowanie polskiej młodzieży do twórczego myślenia o własnej przyszłości i zainteresowanie jej studiowaniem za granicą.</p>
  </a></li>
  <li class="general"><a ui-sref="subpage({id: 'general', lang: 'en'})">
    <div class="fa fa-bars"></div>
    <h3>Dla Wszystkich</h3>
    <p>Lorem ipsum dolor sit amet.Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. </p>
  </a></li>
  <li class="tkf"><a ui-sref="subpage({id: 'tkf', lang: 'en'})">
    <img src="img/tkf.png" class="icon-tkf">
    <h3>The Kings Foundation</h3>
    <p>The Kings Foundation (TKF) is a non-profit organization established to help talented youth from Poland in applying to top universities worldwide. </p>
  </a></li>
  <li class="teachers"><a ui-sref="subpage({id: 'teachers', lang: 'en'})">
    <div class="fa fa-book"></div>
    <h3>Dla Nauczycieli</h3>
    <p>Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.</p>
  </a></li>
  <li class="team"><a ui-sref="subpage({id: 'team', lang: 'en'})">
    <div class="fa fa-users"></div>
    <h3>Team i partnerzy</h3>
    <p>Lorem ipsum dolor sit amet.Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. </p>
  </a></li>
  <li class="students"><a ui-sref="subpage({id: 'students', lang: 'en'})">
    <div class="fa fa-pencil"></div>
    <h3>Dla Uczniów</h3>
    <p>Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.</p>
  </a></li>
</ul>

<br/><br/>
<a ui-sref="main">English version</a>
<br/><br/><br/>