<ul id="big-navigation">
  <li class="about"><a ui-sref="subpage({id: 'about', lang: 'en'})">
    <img src="img/cfbe-logo-icon.png" class="cfbe-icon">
    <h3>About</h3>
    <p> CFBE - Empowering high-school youth one special English language class at a time.</p>
  </a></li>
  <li class="general"><a ui-sref="subpage({id: 'general', lang: 'en'})">
    <div class="fa fa-bars"></div>
    <h3>General</h3>
    <p>Lorem ipsum dolor sit amet.Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. </p>
  </a></li>
  <li class="tkf"><a ui-sref="subpage({id: 'tkf', lang: 'en'})">
    <img src="img/tkf-logo-new.png" class="icon-tkf"><!-- 
    <img src="img/tkf.png" class="icon-tkf">
    <h3>The Kings Foundation</h3>
    <p>The Kings Foundation (TKF) is a non-profit organization established to help talented youth from Poland in applying to top universities worldwide. </p> -->
  </a></li>
  <li class="teachers"><a ui-sref="subpage({id: 'teachers', lang: 'en'})">
    <div class="fa fa-book"></div>
    <h3>Teachers</h3>
    <p>Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.</p>
  </a></li>
  <li class="team"><a ui-sref="subpage({id: 'team', lang: 'en'})">
    <div class="fa fa-users"></div>
    <h3>Team</h3>
    <p>Lorem ipsum dolor sit amet.Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. </p>
  </a></li>
  <li class="students"><a ui-sref="subpage({id: 'students', lang: 'en'})">
    <div class="fa fa-pencil"></div>
    <h3>Students</h3>
    <p>Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.</p>
  </a></li>
</ul>

<br/><br/>
<a ui-sref="main_pl">Wersja Polska</a>
<br/><br/><br/>
